*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.grid-container{
    display: grid 4 table-column;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    padding: 10px;
}

.grid-item{
    border: solid 5px #ddd;
    border-radius: 5px;
    
}

.grid-item img{
    width: 100%;
    display: block;
}